{% extends '../base.html' %}
{% load static %}

{% block title %}歌曲列表{% endblock %}

{% block content %}
<div class="song-list">
    <div class="song-list-header">
        <div>#</div>
        <div>歌曲名称</div>
        <div>歌手</div>
        <div>简介</div>
    </div>
    {% for song in songs %}
        <div class="song-list-item">
            <div>{{ song.id }}</div>
            <div><img src="{% static song.img_path %}"></div>
            <div>{{ song.name }}</div>
            <div>{{ song.singer_name }}<div>
            <div>
                {% if song.description|length > 100 %}
                    {{ song.description|slice:":100" }}...
                {% else %}
                    {{ song.description }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}