{% extends '../list.html' %}
{% load static %}

{% block title %}
    {% if query %}
        “{{query}}” 的歌曲搜索结果
    {% else %}
        歌曲列表
    {% endif %}

{% endblock %}

{% block hero_title %}
    {% if query %}
        “{{query}}” 的搜索结果
    {% else %}
        {% if page_obj.number > 1 %}
            歌曲列表
        {% else %}
            发现你喜欢的音乐
        {% endif %}
    {% endif %}
{% endblock %}

{% block hero_subtitle %}
    {% if query %}
        {% if page_obj.number > 1 %}
        ———————————— 共搜到 {{ songs_num }} 首歌曲，第{{ page_obj.number }}页  ————————————
        {% else %}
        ———————————— 共搜到 {{ songs_num }} 首歌曲，用时：{{ search_time }}  ————————————
        {% endif %}
    {% else %}
        {% if page_obj.number > 1 %}
            ————————————  第{{ page_obj.number }}页  ————————————
        {% else %}
            共收藏 {{ songs_num }} 首优质歌曲，每日更新
        {% endif %}
    {% endif %}
{% endblock %}


{% block main_list %}

<style>
    .song-card {
        transition: transform 0.3s;
        margin-bottom: 20px;
    }
    .song-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }
    .card-img-cover {
        height: 250px;
        object-fit: cover;
    }
     .card-footer {
        padding: 0.75rem 1rem;
        border-top: 1px solid rgba(0,0,0,0.1);
        height: 90px; /* 固定高度 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* 三行文本限制 */
    .card-footer small {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4; /* 调整行高 */
        max-height: calc(1.4em * 3); /* 3行高度 */
        margin: 0;
    }
</style>

<!-- 歌曲卡片 -->
<div class="row">
    {% for song in songs %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card song-card h-100" onclick="window.location.href='{% url 'song_detail' id=song.id  %}';">
            <img src="{% static song.img_path %}" class="card-img-top card-img-cover" alt="{{ song.name }}封面">
            
            <div class="card-body">
                <h5 class="card-title">{{ song.name }}</h5>
                <p class="card-text text-muted">{{ song.singer_name }}</p>  
            </div>
            
            <div class="card-footer bg-white">
                <small class="text-muted">{{ song.description|slice:":100" }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}